autom4te.cache
build-stamp
config.log
config.status
configure
configure-stamp
Makefile
quilt.spec
README
quilt-*.tar.gz
quilt-*.tar.bz2

bin/guards
bin/guards.1
bin/patch-wrapper
bin/quilt

debian/files
debian/quilt
debian/quilt.substvars

doc/quilt.1
doc/quilt.aux 
doc/quilt.dvi
doc/quilt.log
doc/quilt.ps 
doc/README 

lib/backup-files

po/*.mo

quilt/*
!quilt/*.in

quilt/scripts/*
!quilt/scripts/*.in

compat/*
!compat/*.in

test/.*.ok
test/.depend
