autom4te.cache
build-stamp
config.log
config.status
configure-stamp
Makefile
README
quilt.spec
quilt-*.tar.gz
quilt-*.tar.bz2

bin/guards
bin/patch-wrapper
bin/quilt

doc/quilt.1
doc/guards.1
doc/quilt.aux
doc/quilt.dvi
doc/quilt.log
doc/quilt.ps
doc/quilt-rus.aux
doc/quilt-rus.log
doc/quilt-rus.pdf
doc/README
doc/reference

po/*.mo

quilt/*
!quilt/scripts
!quilt/*.in

quilt/scripts/*
!quilt/scripts/*.in

compat/*
!compat/*.in

test/.*.ok
test/.depend
