#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

# $Id: rules,v 1.15 2005/01/06 19:32:53 mquinson Exp $

# Let cdbs track the build-dep for me
debian/control:: debian/control.in debian/rules
DEB_AUTO_UPDATE_DEBIAN_CONTROL = yes

# Import Common Debian Build System (CDBS).
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# Here is a badly nammed changelog file
DEB_INSTALL_CHANGELOGS_ALL = quilt.changes

# installing under debian/tmp...
DEB_MAKE_ENVVARS := BUILD_ROOT=$(CURDIR)/debian/tmp LC_ALL=C

# ... and moving it to the right dir using dh_install
DEB_DH_INSTALL_SOURCEDIR := debian/tmp

# force awk to be gawk, since mawk causes trouble
DEB_CONFIGURE_EXTRA_FLAGS := --with-awk=/usr/bin/gawk
