#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

# $Id: rules,v 1.13 2004/06/01 19:46:12 mquinson Exp $

# Import Common Debian Build System (CDBS).
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# Here is a badly nammed changelog file
DEB_INSTALL_CHANGELOGS_ALL = quilt.changes

# installing under debian/tmp...
DEB_MAKE_ENVVARS := BUILD_ROOT=$(CURDIR)/debian/tmp LC_ALL=C

# ... and moving it to the right dir using dh_install
DEB_DH_INSTALL_SOURCEDIR := debian/tmp

# force the shell to be bash, since quilt is full of bashism
# force awk to be gawk, since mawk causes trouble
DEB_CONFIGURE_EXTRA_FLAGS := --with-bash=/bin/bash --with-awk=/usr/bin/gawk
